body {
  background-color: #282c34;
  color: white;
  font-size: 16px;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  padding: .5em;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  display: table;
  width: 100%;
  table-layout: auto;
}

.results thead th, .citation_result td {
  border-right: 1px solid white;
  padding: 0 .2em;
  text-align: center;
}
.results thead th:last-child, .citation_result td:last-child {
  border-right: none;
}

.citation_result:nth-child(even) {
  background-color: #3a6373;
}

.App-link {
  color: #61dafb;
}

.doi-wrapper {
  padding: 1em;
}
