body {
  background-color: #282c34;
  color: white;
  font-size: 16px;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  padding: .5em;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  display: table;
  width: 100%;
  table-layout: auto;
}

.results thead th, .citation_result td {
  border-right: 1px solid white;
  padding: 0 .2em;
  text-align: center;
}
.results thead th:last-child, .citation_result td:last-child {
  border-right: none;
}

.citation_result:nth-child(even) {
  background-color: #3a6373;
}

.App-link {
  color: #61dafb;
}

.doi-wrapper {
  padding: 1em;
}

.request-wrapper {
  display: flex;
  flex-direction: row;
}

#hourlyLimit {
  margin-right: 1.2em;
}

.total_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}
.total_item {
  margin: auto .5em;
}
.total_item label:after {
  content: ':';
}

.slider-box {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  background-color: #2196F3;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider:focus {
  box-shadow: 0 0 1px #2196F3;
}
 .slide-right.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
